* {
    color:#000000 !important;
    text-decoration:none;
    
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(192, 157, 157);
    
}

.contactBody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: gray;
}

h1 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

a {
    text-decoration: none;
    color: black;
}

.air {
    height: 80px;
    width: auto;
}

ul {
    border: 2px solid;
    background-color: rgb(194, 194, 194);
    margin: 10px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    
}

button {
    width: 200px;
    height: 40px;
    font-size: 20px;
    background-color: rgb(194, 194, 194);
}


.buttondiv {
    display: flex;
    justify-content: center;
    margin: 10px;
    
}

.spinner-grow {
    position: absolute;
    left: 50%;
    right: 50%;
    top: 50%;
    bottom: 50%;
}

label {
    display: inline-block;
    width: 150px;
    text-align: right;
    margin: 10px;
}

.formDiv{
    margin-right: 178px;
    margin-left: auto;
}

.submitDiv{
    margin-left: auto;
    margin-right: auto;
}

.theDiv .error{
display: flex;
justify-content: center;
}


.error{
    font-size: 20px;
    margin-right: auto;
    margin-left: auto;
}

input{
    height: 25px;
    width: 250px;
    margin: 0;
    padding: 0;
    margin-top: 10px;
}

